Web References/WebReference/BIMPVS_WebServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CreatePano">
        <s:complexType />
      </s:element>
      <s:element name="CreatePanoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreatePanoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreatePanoSoapIn">
    <wsdl:part name="parameters" element="tns:CreatePano" />
  </wsdl:message>
  <wsdl:message name="CreatePanoSoapOut">
    <wsdl:part name="parameters" element="tns:CreatePanoResponse" />
  </wsdl:message>
  <wsdl:portType name="BIMPVS_WebServicesSoap">
    <wsdl:operation name="CreatePano">
      <wsdl:input message="tns:CreatePanoSoapIn" />
      <wsdl:output message="tns:CreatePanoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BIMPVS_WebServicesSoap" type="tns:BIMPVS_WebServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreatePano">
      <soap:operation soapAction="http://tempuri.org/CreatePano" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BIMPVS_WebServicesSoap12" type="tns:BIMPVS_WebServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreatePano">
      <soap12:operation soapAction="http://tempuri.org/CreatePano" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BIMPVS_WebServices">
    <wsdl:port name="BIMPVS_WebServicesSoap" binding="tns:BIMPVS_WebServicesSoap">
      <soap:address location="http://140.124.63.3/BIMPVS_Server/BIMPVS_WebServices.asmx" />
    </wsdl:port>
    <wsdl:port name="BIMPVS_WebServicesSoap12" binding="tns:BIMPVS_WebServicesSoap12">
      <soap12:address location="http://140.124.63.3/BIMPVS_Server/BIMPVS_WebServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>